.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: $orange;
  border: 1px solid $orange;
  border-radius: 5px;
  background-color: transparent;

  &:hover {
    color: $white;
    background-color: $orange;
    transition: 0.3s;
  }
}
