.products__list {
  @include clean-list;
}

.products__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 15px;
  border-bottom: 1px solid #20353d;
  cursor: pointer;
}

.products__open {
  width: 24px;
  height: 12px;
  background-image: url("../img/open-icon.svg");
  background-repeat: no-repeat;
}

.products__close {
  width: 24px;
  height: 12px;
  background-image: url("../img/close-icon.svg");
  background-repeat: no-repeat;
}

.products__title {
  font-size: 16px;
  color: $white;
  cursor: none;
}

.products__sublist {
  @include clean-list;
  padding: 24px 15px 0;
  background-color: #20353d;
  font-size: 12px;
  line-height: 12px;
}

.products__subitem {
  padding-bottom: 24px;

  a {
    color: #6b96a5;
  }
}

.products__wrapper .products__sublist:last-child {
  padding-top: 0;
}

@media (min-width: $desktop-width) {
  .products__list {
    display: flex;
  }

  .products__wrap {
    display: block;
    height: auto;
    padding: 0;
    border-bottom: none;
    cursor: auto;
  }

  .products__open, .products__close {
    display: none;
  }

  .products__sublist {
    padding: 0;
    padding-top: 22px;
    background-color: transparent;
  }

  .products__item--menu {
    margin-right: 112px;

    .products__title {
      display: none;
    }

    .products__sublist {
      padding-top: 0;
      font-size: 14px;

      a {
        color: $white;
      }
    }
  }

  .products__title {
    margin-bottom: 22px;
    font-size: 14px;
    cursor: pointer;
  }

  .products__subitem {
    padding-bottom: 14px;
  }

  .products__item {
    &--sets {
      margin-right: 94px;
    }

    &--rolls {
      margin-right: 74px;
    }

    &--wok {
      margin-right: 102px;
    }
  }

  .products__wrapper {
    display: flex;
  }

  .products__wrapper .products__sublist:last-child {
    padding-top: 22px;
    padding-left: 10px;
  }
}
