.rolls {
  width: 100%;
  margin-bottom: 72px;
}

.rolls__slider {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .rolls {
    margin-bottom: 62px;
  }

  .rolls__slider {
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .rolls {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}
