.social {
  @include clean-list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 88px;
  margin-bottom: -5px;
}

.social__item {
  margin-bottom: 5px;
}

.social__link {
  display: block;
  width: 23px;
  height: 23px;

  &:hover {
    opacity: 0.5;
  }

  &--fb {
    background-image: url("../img/facebook-icon.png");
    background-size: cover;
  }

  &--insta {
    background-image: url("../img/insta-icon.png");
    background-size: cover;
  }

  &--vk {
    background-image: url("../img/vk-icon.png");
    background-size: cover;
  }
}
