@font-face {
  font-family: "Lemon tuesday";
  font-style: normal;
  src: url("../fonts/Lemontuesday.woff") format("woff"), url("../fonts/Lemontuesday.woff2") format("woff2");
  font-display: swap;
}

